<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Styles/noticias.css">
  <link rel="stylesheet" href="../Styles/styles.css">
  <title>Noticias - Adopta</title>
</head>
<body>
   <!--Header y nav comun para todas las paginas.-->
    <header>
        <div class="logo">
            <img id="logoilus" src="../Arch/logoprotectora.png" alt="Adopta Logo">
            <h1>Adopta</h1>
          </div>
        <nav>
         <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="../Views/animales.html">Animales</a></li>
          <li><a href="../Views/noticias.html">Noticias</a></li>
          <li><a href="../Views/contacto.html">Contáctanos</a></li>
        </ul>
        </nav>
      </header>
<!--Main con diferentes sectiones para crear las noticias-->
  <main class="news-container">
    <!-- Noticia 1 -->
    <section class="news-item">
      <img src="../Arch/perroperdido.webp" alt="Imagen Perro Perdido">
      <div class="news-content">
        <h2>Perro perdido</h2>
        <p>Perro perdido en la Bilbao</p>
        <a href="https://www.elcorreo.com/bizkaiadmoda/moda/perro-desaparecido-lekeitio-odisea-familia-buscando-20241021162529-nt.html?ref=https%3A%2F%2Fwww.google.com%2F" target="_blank" class="news-button">Más información</a>
      </div>
    </section>
    <!-- Noticia 2 -->
    <section class="news-item">
      <img src="../Arch/piensos.webp" alt="Imagen Mejores Piensos">
      <div class="news-content">
        <h2>10 Mejores piensos</h2>
        <p>Estas son las mejores marcas de piensos para tu perro</p>
        <a href="https://www.muyinteresante.com/bazar/65048.html" target="_blank" class="news-button">Más información</a>
      </div>
    </section>
    <!-- Noticia 3 -->
    <section class="news-item">
      <img src="../Arch/nueva-ley-bienestar-animal-scaled.webp" alt="Imagen Protección Animales">
      <div class="news-content">
        <h2>La nueva de Protección de animales</h2>
        <p>Este 2025 tendremos nuevas leyes</p>
        <a href="https://www.seguroparaperros.com/blog/ley-de-bienestar-animal" target="_blank" class="news-button">Más información</a>
      </div>
    </section>
  </main>
 <!-- footer igual para todos-->
  <footer>
    <p>¡Haz la diferencia hoy y transforma la vida de un perro que necesita tu amor!</p>
  </footer>
</body>
</html>
