/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 7%;
    align-items: center;
    height: 70vh;
  }
  article.intro {
    text-align: left;
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }
  section.highlight {
    text-align: center;
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  /* Responsive Design */
@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr; 
        text-align: center;
        height: auto; 
    }
  
    article.intro {
        margin-bottom: 2rem; 
    }
  
    section.highlight img {
        max-width: 300px; 
    }
  
  }