<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Styles/stylesanimals.css">
  <link rel="stylesheet" href="../../Styles/styles.css">
  <title>Adopta - Gatos</title>
</head>
<body>
   <!--Header y nav comun para todas las paginas.-->
    <header>
        <div class="logo">
          <img src="../../Arch/logoprotectora.png" alt="Adopta logo" id="logoilus">
          <h1>Adopta</h1>
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="../../Views/animales.html">Animales</a></li>
            <li><a href="../../Views/noticias.html">Noticias</a></li>
            <li><a href="../../Views/contacto.html">Contáctanos</a></li>
          </ul>
        </nav>
      </header>
  <!--Main Lista de los animales disponibles -->
    <main>
      <h2 class="section-title">Gatos</h2>
      <section class="cards">
        <article class="card">
          <a href="../animales/informacion.html">
              <img src="../../Arch/fotosanimales/Gatos/Luna.webp" alt="Kyu">
              <h3>Luna</h3>
          </a>
        </article>
        <article class="card">
          <a href="../animales/informacion.html">
              <img src="../../Arch/fotosanimales/Gatos/Mitxi.webp" alt="Txuri">
              <h3>Mitxi</h3>
          </a>
        </article>
        <article class="card">
          <a href="../animales/informacion.html">
              <img src="../../Arch/fotosanimales/Gatos/Argi.webp" alt="Jai">
              <h3>Argi</h3>
          </a>
        </article>
        <article class="card">
          <a href="../animales/informacion.html">
              <img src="../../Arch/fotosanimales/Gatos/Gorri.webp" alt="Lor">
              <h3>Gorri</h3>
          </a>
        </article>
        <article class="card">
          <a href="../animales/informacion.html">
              <img src="../../Arch/fotosanimales/Gatos/Luis.webp" alt="Milka">
              <h3>Luis</h3>
          </a>
        </article>
        <article class="card">
          <a href="../animales/informacion.html">
              <img src="../../Arch/fotosanimales/Gatos/zak.webp" alt="Lagun">
              <h3>Zak</h3>
          </a>
        </article>
      </section>
    </main>
     <!-- footer igual para todos-->
  <footer>
    <p>¡Haz la diferencia hoy y transforma la vida de un perro que necesita tu amor!</p>
  </footer>
</body>
</html>
