<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta - Sakura</title>
    <link rel="stylesheet" href="../../Styles/styloesinfo.css">
    <link rel="stylesheet" href="../../Styles/styles.css">
</head>
<body>
    <header>
        <div class="logo">
          <img src="../../Arch/logoprotectora.png" alt="Adopta logo" id="logoilus">
          <h1>Adopta</h1>
        </div>
        <nav>
           <ul>
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="../../Views/animales.html">Animales</a></li>
            <li><a href="../../Views/noticias.html">Noticias</a></li>
            <li><a href="../../Views/contacto.html">Contáctanos</a></li>
          </ul>
        </nav>
      </header>

    <main>
        <a href="perros.html" class="volver">Volver</a>
        <section class="animal-detail">
            
            <h2>Sakura</h2>
            <div class="content">
                <div class="description">
                    <p>¡Conoce a Sakura, la perra más juguetona y cariñosa! 🐾</p>
                    <p>
                        Sakura es una perra de 3 años llena de energía, alegría y mucho amor para dar. Le encanta jugar y correr, y es una verdadera amiga para los niños, con quienes se lleva fenomenal. Es el tipo de compañera que siempre tiene una sonrisa en su rostro y está lista para disfrutar de cualquier momento en familia.
                    </p>
                    <p>
                        Si estás interesado en adoptarla, ¡no dudes en ponerte en contacto con nosotros! ❤️🐶
                    </p>
                </div>
                <div class="image-container">
                    <img src="../../Arch/fotosanimales/perros/sakura.webp" alt="Foto de Sakura">
                    <p class="info">3 años - Mezcla - Hembra</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>¡Haz la diferencia hoy y transforma la vida de un perro que necesita tu amor!</p>
    </footer>
</body>
</html>
